//colors
$WHITE: #FFFFFF;
$BLACK: #000000;
$PHYSALIS: #EE964B;
$ORANGE-SODA: #F95738;
$SPACEMAN: #5C6784;
$MACHINE-GUN-METAL: #454545;
$LEAD: #212121;
$BLUISH-GREEN: #0EA976;
$PEARL: #F7F7F9;
$MA-WHITE: #F4F6FC;
$VAGUELY-VIOLET: #DDE2F2;
$MITHRIL: #878787;

//container width
$CONTAINER-WIDTH: 1268px;

//breakpoints
$MOBILE: 768px;
$TABLET: 1024px;